:root {    
    --submenu-color: #e7e7e7; 
}

body {
    background-color: rgb(44, 93, 184);
}

#editor {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 6px 31px 0px rgb(44, 44, 44);
    min-width: 630px;
    max-width: 900px;
    margin: auto;
    /* margin: 0px 50px; */
}

.icon-block {
    /* background-color: rgb(190, 190, 190); */
    margin: auto;
    position: relative;
    width: 95%;
    /* border-bottom: 2px solid #c9c9c9; */

}

.icon-block svg, .icon-block .a{
    padding: 5px;
}

.text-block {
    background-color: #fff;
    width: 100%;
    min-height: 300px;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.text-block:focus {
    outline: 0px solid transparent;
}

.dot {
    margin-left: -10px;
}

.d-menu {
    background-color: var(--submenu-color);
    position: absolute;
    left: 3px;
    top: 45px;
    width: 99%;
    padding: 5px;
    border-radius: 5px;
}

.arrow-menu {
    font-size: 10px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

[class*="drop-toggle"] {
    /* background-color: blue; */
    padding-right: 10px;
    display: flex;
}
[class*="drop-toggle"]:hover, .bi:hover, .a:hover{
    background-color: #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
}

.editor-item:hover {
    text-decoration: none;
}

.d-menu {
    display: flex;
}

.drop-toggle-custom a{
    margin-right: -5px;
}

.br1, .br2 {
    display: none;
}

@media (max-width: 863px) AND (min-width: 660px) {
    .br2 {
        display: initial;
    }
    .sp4 {
        display: none;
    }
}

@media (max-width: 660px) {
    .br1 {
        display: initial;
    }
    .sp3 {
        display: none;
    } 
}

.baba {
    text-decoration: underline;
    text-decoration-color: red;
}

.quote {
    border-left: 3px solid green;
    padding-left: 10px;
    padding-bottom: 5px;
    font-style: italic;
    margin-top: 15px;
}